*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}


#header{
    
    border: 2px solid chocolate;
    height: 200px;
    display: flex;
    justify-content: space-between;
}


#header img {
    height: 50px;
    width: auto;
}

#menu{
    height: 100px;
   
    border: 2px solid brown;
}


#menu ul{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
#menu li {
    list-style: none;
    font-weight: 600;
    font-size: 24px;
}

#main{
    position: relative;
    display: flex;
    width: 100%;
}

#main> *{
    height: 300px;
}

#content{
    flex: 4;
    border: 2px solid orangered;
}

#additional_info{
    flex:1;
    border: 2px solid skyblue;
}

#footer{
    height: 100px;
    border: 2px solid red;
}